".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "Find first in array":
    "prefix": "arfin"
    "body": """
    let found = ${1:iterable}.find((${2:element}) => {
        ${0:return item.id == 1};
    });
    """
