".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "Array for in":
    "prefix": "arfi"
    "body": """
    for (prop in ${1:obj}) {
        if (${1:obj}.hasOwnProperty(prop)) {
            ${0:// body...}
        }
    }
    """
