".source.js, .source.jsx, .source.ts, .source.js-semantic":
  'JavaScript Class Node':
    'prefix': 'clan'
    'body': """
    'use strict'

    module.exports = class {
        constructor (prop) {
            this._prop = prop
        }
    }
    """
