".source.js, .source.jsx, .source.ts, .source.js-semantic":
  'JavaScript Class ES6':
    'prefix': 'cla'
    'body': """
    export default class {
        constructor () {
            $1
        }
    }
    """
