".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "function object property":
    "prefix": "fuo"
    "body": """
    ${1:functionName}: function(${2:arguments}) {
    \t${3:// body...}
    }
    """
