".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "Array map - create an array from what's returned from a predicate":
    "prefix": "itmap"
    "body": """
    let newArray = ${1:iterable}.map((element, index, ${1:iterable}) => {
    \t${0:return element.property};
    })
    """
