".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "Find first element in an array":
    "prefix": "itfin"
    "body": """
    let found = ${1:iterable}.find((${2:element}) => {
    \t${0:return item.id == 1};
    });
    """
