".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "Filter an array into an array using a predicate":
    "prefix": "itfil"
    "body": """
    let filtered = ${1:iterable}.filter((${2:element}) => {
    \t${0:return element.active};
    })
    """
