".source.js, .source.jsx, .source.ts, .source.js-semantic":
  'React Component Skinny':
    'prefix': 'rcs'
    'body': """
    import React from 'react'

    export default class extends React.Component {
    \trender () {
    \t\treturn (
    \t\t\t<div>Component content</div>
    \t\t)
    \t}
    }
    """
